<!DOCTYPE html>
<html lang="en">
<head>
    <title> to Verckis world </title>
</head>
<body style="background-color:rgba(255, 0, 0, 0.822);">

    <h1><b> Welcome to Verckis new world </b></h1>
    <p> <b> This is going to be a new place where people could share ideas and thoughs </b></p>
    <a href="https://www.google.com/">Click here to get wild</a>

    <p> El Lamborghini Sián FKP 37 es un automóvil superdeportivo producido por el fabricante italiano Lamborghini.
        Presentado el 3 de septiembre de 2019, el Sián es el primer vehículo híbrido fabricado por la marca,​
        con una producción limitada de 63 unidades. </p>
</body>

</html>